extends layout/layout

include components/main/mixins

block main
	.w-full.bg-white.mt-1.home
		.px-2.py-16.relative( class="sm:px-4" )
			.max-w-screen-xl.mx-auto
				.msnry
					.msnry-sizer
					+area_selector({ areas, onlyCities: true, regionKey: region.key })