extends layout/layout


block variables
  - var dark = true

block main
  include components/section/transformer
  include components/section/channel
  include components/section/wink
  include components/section/annex
  include components/section/console
  include components/section/connect
  include components/section/answers
  