.pon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pon__col {
  width: calc(50% - 40px);
  max-width: calc(50% - 40px);
}

@media screen and (max-width: 768px) {
  .pon__col {
    width: 100%;
    max-width: 100%;
  }
}

.pon__col ul {
  color: #ffffff;
  margin-bottom: 32px;
}

@media screen and (max-width: 320px) {
  .pon__col ul {
    margin-bottom: 16px;
  }
}

.pon__col li {
  position: relative;
  padding-left: 32px;
}

.pon__col li svg {
  position: absolute;
  left: 0;
  top: 0;
}

.pon__col li:not(:last-child) {
  margin-bottom: 20px;
}

.pon__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #ffffff;
  cursor: pointer;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #ffffff;
  padding: 12px 32px;
}

@media screen and (max-width: 320px) {
  .pon__btn {
    width: 100%;
  }
}
