.team .offers__item {
  background-color: #000000;
  color: #ffffff;
}

.team .offers__descr {
  max-width: 265px;
  font-size: 16px;
}

.team .offers__col:first-child {
  padding: 56px 0 48px 56px;
}

@media screen and (max-width: 1100px) {
  .team .offers__col:first-child {
    padding: 48px 0 32px 32px;
  }
}

@media screen and (max-width: 414px) {
  .team .offers__col:first-child {
    padding: 16px 16px 24px;
  }
}
