.s-advantage
  .container-main
    .advantage
      .advantage__item
        .advantage__title Выгодно
        p Выгода от 40% при подключении пакета услуг, в сравнении с подключением данных услуг по отдельности
        img(src="img/advantage/1.svg" alt="Выгодно")
      .advantage__item
        .advantage__title Удобно
        p Общий пакет услуг и единый счет для комфортного управления с мобильного телефона
        img(src="img/advantage/2.svg" alt="Удобно")
      .advantage__item
        .advantage__title Для семьи
        p Подключайте до 5 SIM карт к общему тарифу — связь, интернет и SMS для всей семьи
        img(src="img/advantage/3.svg" alt="Для семьи")