section.s-annex.section-32
  .container-main
    .annex
      .offers__list
        .offers__item.offers--reverse
          .offers__col
            .offers__text ТВ-приставка Wink+
            .offers__descr Подключается по Wi-Fi и работает с любым интернетом​​
            .offers__price
              span 6000 
              b 4 990 
              | руб.
            button(type="button" class="Button Button-red") Оставить заявку
          .offers__col
            picture
              source(srcset="img/banners/tv-phone.png" media="(max-width: 414px)")
              source(srcset="img/banners/tv-tablet.png" media="(max-width: 768px)")
              source(srcset="img/banners/tv-ipad.png" media="(max-width: 1100px)")
              img(src="img/banners/tv-laptop.png" alt="ТВ-приставка Wink+")
          
