section.s-answers
  .container-main
    h2 Вопросы и ответы
    .answers
      .answers__item
        .answers__title Что такое Wink?
        .answers__info Wink — это видеосервис объединяющий преимущества интерактивного телевидения и онлайн-кинотеатра. Каталог регулярно пополняется новинками, в нем представлены фильмы, сериалы, ТВ-каналы с функцией паузы, перемотки и просмотра прошедших передач, спортивные трансляции, детский контент, аудиокниги и пр. Одной учетной записью вы можете пользоваться всей семьей одновременно на 5 устройствах: смарт ТВ, мобильных устройствах, компьютере и приставках.
      .answers__item
        .answers__title Что такое «Трансформер»?
        .answers__info Подписка «Трансформер» — уникальное гибкое предложение видеосервиса Wink. Предоставляет доступ к каталогу ТВ-каналов, фильмов и сериалов, которые собраны в тематические пакеты. При подключении всегда доступны пакет телеканалов «Базовый» и «Онлайн-кинотеатр». Так же в подписку входят 22 дополнительных пакета, все они доступны для просмотра до 31 января 2022. После этой даты вы сможете выбирать любые 5 дополнительных пакетов и менять набор каждый месяц без дополнительных расходов.
      .answers__item
        .answers__title Что я могу смотреть?
        .answers__info В «Базовый ТВ-пакет» и «Онлайн-кинотеатр», входят 180 популярных ТВ-каналов и свыше 10 тысяч фильмов и сериалов. Дополнительные 22 тематических пакета предоставляют выбор еще 30 тысяч фильмов и сериалов и 120 ТВ-каналов. Формируя набор из пакетов, вы получаете именно то, что действительно интересно. Весь доступный контент можно найти в разделе «Моя коллекция» видеосервиса Wink.
      