section.s-bonus.section-32
  .container-main
    h2 Получайте бонусы в играх
    .bonus
      .bonus__inner
        .bonus__item(style="background: url('img/bonus/1.jpg')")
          img(src="img/bonus/1.png" alt="Высокая скорость")
          .bonus__list
            .bonus__game
              span Warface
              .bonus__dots
              span Warface
            .bonus__game
              span Crossfire
              .bonus__dots
              span ARCHEAGE
        .bonus__item(style="background: url('img/bonus/2.jpg')")
          img(src="img/bonus/2.png" alt="Высокая скорость")
          .bonus__list
            .bonus__game
              span WORLD OF TANKS
              .bonus__dots
              span WORLD OF WARSHIPS
            .bonus__game
              span WORLD OF WARPLANES
        .bonus__item(style="background: url('img/bonus/3.jpg')")
          img(src="img/bonus/3.png" alt="Высокая скорость")
          .bonus__list
            .bonus__game
              span BLADE&SOUL
              .bonus__dots
              span POINT BLANK
            .bonus__game
              span LINEAGE 2
              .bonus__dots
              span AION