section.s-cimena.section-36
  .container-main
    .cinema
      .cinema__item
        h2.cinema__title Онлайн-кинотеатр Wink
        .cinema__inner
          .cinema__col
            img(src="img/wink/1.jpg" alt="Онлайн-кинотеатр Wink")
          .cinema__col
            .cinema__caption 50 000 фильмов и сериалов
            .c-advantage
              .c-advantage__item
                .c-advantage__title Любимые фильмы всегда с собой
                .c-advantage__text Загрузка и просмотр кино без доступа к интернету: на даче, в дороге, в самолете, в отпуске
                .c-advantage__img 
                  img(src="img/wink/svg/1.svg" alt="Любимые фильмы всегда с собой")
              .c-advantage__item
                .c-advantage__title Просмотр на любом устройстве
                .c-advantage__text Одна учетная запись на 5 устройств: начните просмотр на одном устройстве и продолжите на другом
                .c-advantage__img 
                  img(src="img/wink/svg/2.svg" alt="Просмотр на любом устройстве")
      .cinema__item
        h2.cinema__title Интерактивное TВ Wink
        .cinema__inner
          .cinema__col
            .cinema__caption Более 260 ТВ-каналов на ваш выбор
            .c-advantage
              .c-advantage__item
                .c-advantage__title Услуга «Мультирум»
                .c-advantage__text Возможность смотреть фильмы, сериалы и передачи на нескольких телевизорах, в том числе одновременно
                .c-advantage__img 
                  img(src="img/wink/svg/3.svg" alt="Услуга «Мультирум»")
              .c-advantage__item
                .c-advantage__title Управление просмотром
                .c-advantage__text Ставьте прямой эфир на паузу и записывайте передачи для просмотра в архиве в течение 30 дней
                .c-advantage__img 
                  img(src="img/wink/svg/4.svg" alt="Управление просмотром")
          .cinema__col
            img(src="img/wink/2.jpg" alt="Интерактивное TВ Wink")
      .cinema__item
        h2.cinema__title Домашний интернет
        .cinema__inner
          .cinema__col
            img(src="img/wink/3.jpg" alt="Домашний интернет")
          .cinema__col
            .cinema__caption Современные технологии подключения
            .c-advantage
              .c-advantage__item
                .c-advantage__title Высокоскоростной интернет
                .c-advantage__text До 500 мбит/сек по технологии xPON*
                .c-advantage__img 
                  img(src="img/wink/svg/5.svg" alt="Высокоскоростной интернет")
              .c-advantage__item
                .c-advantage__title Wi-Fi роутер, подобранный специально под ваш тариф
                .c-advantage__text Поддержка максимальной скорости доступной на тарифе, возможность подключения до 15 устройств
                .c-advantage__img 
                  img(src="img/wink/svg/6.svg" alt="Wi-Fi роутер, подобранный специально под ваш тариф")
      .cinema__item
        h2.cinema__title Мобильная связь
        .cinema__inner
          .cinema__col
            .cinema__caption До 2000 минут, 500 SMS и безлимитный интернет
            .c-advantage
              .c-advantage__item
                .c-advantage__title До 2000 минут, 500 SMS и безлимитный интернет
                .c-advantage__text Общий пакет минут на всю семью до 5 SIM и общий пакет SMS. Исходящие звонки на номера Ростелекома по всей России бесплатно
                .c-advantage__img 
                  img(src="img/wink/svg/7.svg" alt="До 2000 минут, 500 SMS и безлимитный интернет")
              .c-advantage__item
                .c-advantage__title Безлимитный трафик в видеосервисе Wink
                .c-advantage__text Смотрите столько, сколько хочется всей семьей
                .c-advantage__img 
                  img(src="img/wink/svg/8.svg" alt="Безлимитный трафик в видеосервисе Wink")
          .cinema__col
            img(src="img/wink/4.jpg" alt="Мобильная связь")