section.s-console.section-32
  .container-main
    h2 Телевидение, онлайн-кинотеатр, развлечения и облачные игры в одной приставке
    .wink.console
      .wink__item
        .wink__text Подключается по Wi-Fi без лишних проводов и работает с любым интернетом
        .wink__img 
          img(src="img/console/1.svg" alt="Wi-Fi")
      .wink__item
        .wink__text Просмотр в 4K и HD на 5 устройствах под одной учетной записью
        .wink__img 
          img(src="img/console/2.svg" alt="Просмотр в 4K и HD")
      .wink__item
        .wink__text Внутри приставки видеосервис Wink с более 300 ТВ-каналами и тысячами фильмов
        .wink__img 
          img(src="img/console/3.svg" alt="видеосервис Wink")
      .wink__item
        .wink__text Каталог игр, а также полезных, развлекательных приложений как в SMART TV
        .wink__img 
          img(src="img/console/4.svg" alt="Каталог игр")