section.s-gamers.section-32
  .container-main
    .gamers
      .wink
        .wink__item
          .wink__title Высокая скорость
          .wink__text Быстрая загрузка патчей и обновлений
          .wink__img 
            img(src="img/gamers/1.svg" alt="Высокая скорость")
        .wink__item
          .wink__title Преимущества
          .wink__text Уникальные игровые бонусы
          .wink__img 
            img(src="img/gamers/2.svg" alt="Преимущества")
        .wink__item
          .wink__title Приоритизация трафика
          .wink__text Прямое подключение к игровым серверам
          .wink__img 
            img(src="img/gamers/3.svg" alt="Приоритизация игрового трафика")