section.s-offers
  .container-main
    h2.offers__title Акционные предложения от Ростелеком
    .offers
      .offers__list
        .offers__item
          .offers__col
            picture
              source(srcset="img/banners/1-phone.png" media="(max-width: 640px)")
              source(srcset="img/banners/1-tablet.png" media="(max-width: 768px)")
              img(src="img/banners/1-laptop.png" alt="autocredit")
          .offers__col
            .offers__text Великолепная четверка
            p.offers__descr Объединяйте услуги: интернет, мобильную связь, интерактивное ТВ и онлайн-кинотеатр с выгодой от 40%
            button(type="button" class="Button Button-red") Подробнее
        .offers__item
          .offers__col
            picture
              source(srcset="img/banners/2-phone.png" media="(max-width: 640px)")
              source(srcset="img/banners/2-tablet.png" media="(max-width: 768px)")
              img(src="img/banners/2-laptop.png" alt="autocredit")
          .offers__col
            .offers__text Тариф игровой
            .offers__text.offers__text--sub Присоединяйся к команде победителей
            p.offers__descr Мощный интернет и уникальные игровые бонусы
            button(type="button" class="Button Button-red") Подробнее
        .offers__item
          .offers__col
            picture
              source(srcset="img/banners/3-phone.png" media="(max-width: 640px)")
              source(srcset="img/banners/3-tablet.png" media="(max-width: 768px)")
              img(src="img/banners/3-laptop.png" alt="autocredit")
          .offers__col
            .offers__wink
              img(src="img/banners/wink.svg" alt="wink")
            .offers__text
              | Тариф «Трансформер» 
              br
              | Не платите за лишнее
            p.offers__descr Соберите сами пакет фильмов и ТВ-каналов
            button(type="button" class="Button Button-red") Подробнее
