section.s-pon.section-32
  .container-main
    h2.mb-56 Работает только на PON соединении
    .pon
      .pon__col
        img(src="img/pon.png" alt="PON соединение")
      .pon__col
        ul
          li 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0607 5.93824C21.6464 6.52403 21.6464 7.47378 21.0607 8.05956L9 20.1202L2.93934 14.0596C2.35355 13.4738 2.35355 12.524 2.93934 11.9382C3.52513 11.3525 4.47487 11.3525 5.06066 11.9382L9 15.8776L18.9393 5.93824C19.5251 5.35245 20.4749 5.35245 21.0607 5.93824Z" fill="#FF4F12"/>
            </svg>
            | Самое современное подключение к сети интернет
          li 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0607 5.93824C21.6464 6.52403 21.6464 7.47378 21.0607 8.05956L9 20.1202L2.93934 14.0596C2.35355 13.4738 2.35355 12.524 2.93934 11.9382C3.52513 11.3525 4.47487 11.3525 5.06066 11.9382L9 15.8776L18.9393 5.93824C19.5251 5.35245 20.4749 5.35245 21.0607 5.93824Z" fill="#FF4F12"/>
            </svg>
            | Роутер работает только при оптоволоконном подключении на сети Ростелеком
        .pon__btn(data-fancybox data-src="#popup-pon") Какое у меня соединение?