section.s-popular.section-32
  .container-main
    h2 Популярные услуги и сервисы
    .popular
      .popular__item(style="background: url('img/popular/1.jpg'); background-size: cover;")
        img(src="img/popular/icon/1.svg" alt="Технологии побед")
        .popular__title Технологии побед
        p Мощный интернет и уникальные игорые бонусы
        a(href="#") Подробнее
      .popular__item.popular--big(style="background: url('img/popular/2.jpg'); background-size: cover;")
        img(src="img/popular/icon/2.svg" alt="Акции и специальные предложения")
        .popular__title Акции и специальные предложения
        p Подключайте уникальные тарифы по выгодной цене
        a(href="#") Подробнее
      .popular__item(style="background-color: #FFBF08;")
        img(src="img/popular/icon/3.svg" alt="Пакетные предложения")
        .popular__title Пакетные предложения
        p Объединяйте услуги с выгодой от 40%
        a(href="#") Подробнее
      .popular__item(style="background-color: #2EC5C5;")
        img(src="img/popular/icon/4.svg" alt="Проверить скорость интернета")
        .popular__title Проверить скорость интернета
        p Узнайте реальную скорость Вашего интернета
        a(href="#") Подробнее
      .popular__item(style="background: url('img/popular/3.jpg');background-size: cover;")
        img(src="img/popular/icon/5.svg" alt="Акции и специальные предложения")
        .popular__title Умный дом
        a(href="#") Подробнее
      .popular__item.popular--big(style="background: url('img/popular/4.jpg');background-size: cover;")
        img(src="img/popular/icon/6.svg" alt="Видеонаблюдение")
        .popular__title Видеонаблюдение
        p Оставайтесь дома, даже когда уходите
        a(href="#") Подробнее
        