.s-router.section-32
  .container-main
    .router
      .offers__list
        .offers__item.offers--reverse
          .offers__col
            .offers__text Выбирайте игровой роутер RT-X
            .offers__descr Мощный роутер с приоритизацией игрового трафика
            button(type="button" class="Button Button-red" onclick='toggleModal()') Оставить заявку
          .offers__col
            picture
              source(srcset="img/banners/router/router-phone.png" media="(max-width: 414px)")
              source(srcset="img/banners/router/router-tablet.png" media="(max-width: 768px)")
              source(srcset="img/banners/router/router-ipad.png" media="(max-width: 1000px)")
              img(src="img/banners/router/router-laptop.png" alt="Тариф игровой")
  