section.s-signal.section-32
  .container-main
    h2.mb-32 Мощный сигнал для игры без лагов
    .signal
      .signal__col
        picture
          source(srcset="img/router-phone.png" media="(max-width: 414px)")
          source(srcset="img/router-ipad.png" media="(max-width: 1000px)")
          img(src="img/router2.png" alt="Мощный сигнал для игры без лагов")
      .signal__col
        .signal__item
          .signal__text Уверенное покрытие Wi-Fi до 300 м²
          .signal__text Скорость до 600 Мбит/с (2.4 ГГц.) до 1733 Мбит/с (5 ГГц.)
          .signal__text 8 мощных антенн, расположенных под крышкой корпуса
        .signal__item
          .signal__text Приоритизация популярных игр, позволяет при загрузке вашей сети отдать приоритет играм
          .signal__text Хорошее покрытие и стабильный сигнал благодаря MIMO 4x4 в 2 диапазонах
          .signal__text Работа в 2 диапазонах одновременно (2.4 ГГц., 5 ГГц)
      