section.s-step.section-24
  .container-main
    h2 Для комфортного перехода
    .step
      .step__inner
        .step__tabs
          .step__tabs-inner
            .step__tab.active(data-value="1") С переносом номера
            .step__tab(data-value="2") Без переноса номера
        .step__content
          .step__list.step__list--1.active
            .step__item
              .step__count 1 шаг
              .step__info Выберите тариф и заполните он-лайн заявку для бесплатной доставки. Вы можете самостоятельно распечатать и заполнить бланк для ускорения процесса.
            .step__item
              .step__count 2 шаг
              .step__info Наш курьер привезет документы, выдаст SIM-карту с временным номером и примет оплату — вам нужно только показать паспорт.
            .step__item
              .step__count 3 шаг
              .step__info Начните пользоваться услугами по выбранному тарифу уже с первого дня, а мы переведем ваш номер в любой удобный вам срок — от 8 дней до 6 месяцев. Вы получите SMS-уведомление о статусе перехода.
          .step__list.step__list--2
            .step__item
              .step__count 1 шаг
              .step__info Выберите тариф и заполните он-лайн заявку для бесплатной доставки
            .step__item
              .step__count 2 шаг
              .step__info Наш курьер привезет документы, выдаст SIM-карту с новым номером и примет оплату – вам нужно только показать паспорт
            .step__item
              .step__count 3 шаг
              .step__info Начни пользоваться услугами и всеми преимуществами КОМБО тарифа

      .conditions
        h3.conditions__title Перед тем, как оформить заявку и выбрать способ получения SIM-карты, пожалуйста, убедитесь, что:
        form(action="/")
          .input-checkbox__list
            .input-checkbox
              input(type="checkbox" checked name="cond1" id="cond1")
              label(for="cond1") 
                | Номер оформлен на Вас;
                <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 0.542893C14.0976 0.933417 14.0976 1.56658 13.7071 1.95711L4.75 10.9142L0.292893 6.45711C-0.0976311 6.06658 -0.0976311 5.43342 0.292893 5.04289C0.683417 4.65237 1.31658 4.65237 1.70711 5.04289L4.75 8.08579L12.2929 0.542893C12.6834 0.152369 13.3166 0.152369 13.7071 0.542893Z" fill="white"/>
                </svg>
            .input-checkbox
              input(type="checkbox" checked  name="cond2" id="cond2")
              label(for="cond2") 
                | У Вас отсутствует задолженность за услуги связи по переносимому номеру;
                <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 0.542893C14.0976 0.933417 14.0976 1.56658 13.7071 1.95711L4.75 10.9142L0.292893 6.45711C-0.0976311 6.06658 -0.0976311 5.43342 0.292893 5.04289C0.683417 4.65237 1.31658 4.65237 1.70711 5.04289L4.75 8.08579L12.2929 0.542893C12.6834 0.152369 13.3166 0.152369 13.7071 0.542893Z" fill="white"/>
                </svg>
            .input-checkbox
              input(type="checkbox" checked  name="cond3" id="cond3")
              label(for="cond3") 
                | Номер, который вы планируете переносить, принадлежит региону, в котором вы подаете заявление на перенос номера
                <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 0.542893C14.0976 0.933417 14.0976 1.56658 13.7071 1.95711L4.75 10.9142L0.292893 6.45711C-0.0976311 6.06658 -0.0976311 5.43342 0.292893 5.04289C0.683417 4.65237 1.31658 4.65237 1.70711 5.04289L4.75 8.08579L12.2929 0.542893C12.6834 0.152369 13.3166 0.152369 13.7071 0.542893Z" fill="white"/>
                </svg>
          button(type="button" class="Button Button-red") Выбрать тариф