section.s-tariff.section-32
  .container-main
    h2.mb-32 Тарифы 
    .card
      .card__inner
        .card__item
          .card__top
            .card__title Технологии доступа
            ul.card__list
              li
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20 35C28.2843 35 35 28.2843 35 20C35 11.7157 28.2843 5 20 5C11.7157 5 5 11.7157 5 20C5 28.2843 11.7157 35 20 35ZM20 36C28.8366 36 36 28.8366 36 20C36 11.1634 28.8366 4 20 4C11.1634 4 4 11.1634 4 20C4 28.8366 11.1634 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M27.6853 30.7137C29.715 28.0074 31 24.2228 31 20C31 15.7772 29.715 11.9926 27.6853 9.28629C25.6558 6.58029 22.9284 5 20 5C17.0716 5 14.3442 6.58029 12.3147 9.28629C10.285 11.9926 9 15.7772 9 20C9 24.2228 10.285 28.0074 12.3147 30.7137C14.3442 33.4197 17.0716 35 20 35C22.9284 35 25.6558 33.4197 27.6853 30.7137ZM20 36C26.6274 36 32 28.8366 32 20C32 11.1634 26.6274 4 20 4C13.3726 4 8 11.1634 8 20C8 28.8366 13.3726 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3063 30.9626C24.3401 28.2057 25 24.3301 25 20C25 15.6699 24.3401 11.7943 23.3063 9.03742C22.788 7.6553 22.195 6.60629 21.5872 5.92077C20.9784 5.23408 20.4397 5 20 5C19.5603 5 19.0216 5.23408 18.4128 5.92077C17.805 6.60629 17.212 7.6553 16.6937 9.03742C15.6599 11.7943 15 15.6699 15 20C15 24.3301 15.6599 28.2057 16.6937 30.9626C17.212 32.3447 17.805 33.3937 18.4128 34.0792C19.0216 34.7659 19.5603 35 20 35C20.4397 35 20.9784 34.7659 21.5872 34.0792C22.195 33.3937 22.788 32.3447 23.3063 30.9626ZM20 36C23.3137 36 26 28.8366 26 20C26 11.1634 23.3137 4 20 4C16.6863 4 14 11.1634 14 20C14 28.8366 16.6863 36 20 36Z" fill="white"/>
                  <path d="M19.5 5H20.5V35H19.5V5Z" fill="white"/>
                  <path d="M34 13L34 14L6 14L6 13L34 13Z" fill="white"/>
                  <path d="M34 26L34 27L6 27L6 26L34 26Z" fill="white"/>
                </svg>

                b Интернет до 150 Мбит/с
                a(href="#") 
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.1 8H2.4V13.6C2.4 14.3728 3.0272 15 3.8 15H7.3V8H3.8H3.1ZM12.2 8H8.7V15H12.2C12.9728 15 13.6 14.3728 13.6 13.6V8H12.9H12.2ZM12.7537 4.5C12.8454 4.2123 12.9 3.8672 12.9 3.45C12.9 2.099 11.801 1 10.45 1C9.3146 1 8.5565 2.0374 8.0672 3.1595C7.5849 2.099 6.7883 1 5.55 1C4.199 1 3.1 2.099 3.1 3.45C3.1 3.8672 3.1553 4.2123 3.2463 4.5H1V7.3H7.3V5.9H8H8.7V5.9637V7.3H15V4.5H12.7537ZM4.5 3.45C4.5 2.8711 4.9711 2.4 5.55 2.4C6.1716 2.4 6.7498 3.4675 7.0886 4.5H5.2C4.9382 4.5 4.5 4.5 4.5 3.45ZM10.45 2.4C11.0289 2.4 11.5 2.8711 11.5 3.45C11.5 4.5 11.0618 4.5 10.8 4.5H9.0661C9.4231 3.3968 9.9418 2.4 10.45 2.4Z"/>
                  </svg>
                  span Технология xPON
              li
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20 35C28.2843 35 35 28.2843 35 20C35 11.7157 28.2843 5 20 5C11.7157 5 5 11.7157 5 20C5 28.2843 11.7157 35 20 35ZM20 36C28.8366 36 36 28.8366 36 20C36 11.1634 28.8366 4 20 4C11.1634 4 4 11.1634 4 20C4 28.8366 11.1634 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M27.6853 30.7137C29.715 28.0074 31 24.2228 31 20C31 15.7772 29.715 11.9926 27.6853 9.28629C25.6558 6.58029 22.9284 5 20 5C17.0716 5 14.3442 6.58029 12.3147 9.28629C10.285 11.9926 9 15.7772 9 20C9 24.2228 10.285 28.0074 12.3147 30.7137C14.3442 33.4197 17.0716 35 20 35C22.9284 35 25.6558 33.4197 27.6853 30.7137ZM20 36C26.6274 36 32 28.8366 32 20C32 11.1634 26.6274 4 20 4C13.3726 4 8 11.1634 8 20C8 28.8366 13.3726 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3063 30.9626C24.3401 28.2057 25 24.3301 25 20C25 15.6699 24.3401 11.7943 23.3063 9.03742C22.788 7.6553 22.195 6.60629 21.5872 5.92077C20.9784 5.23408 20.4397 5 20 5C19.5603 5 19.0216 5.23408 18.4128 5.92077C17.805 6.60629 17.212 7.6553 16.6937 9.03742C15.6599 11.7943 15 15.6699 15 20C15 24.3301 15.6599 28.2057 16.6937 30.9626C17.212 32.3447 17.805 33.3937 18.4128 34.0792C19.0216 34.7659 19.5603 35 20 35C20.4397 35 20.9784 34.7659 21.5872 34.0792C22.195 33.3937 22.788 32.3447 23.3063 30.9626ZM20 36C23.3137 36 26 28.8366 26 20C26 11.1634 23.3137 4 20 4C16.6863 4 14 11.1634 14 20C14 28.8366 16.6863 36 20 36Z" fill="white"/>
                  <path d="M19.5 5H20.5V35H19.5V5Z" fill="white"/>
                  <path d="M34 13L34 14L6 14L6 13L34 13Z" fill="white"/>
                  <path d="M34 26L34 27L6 27L6 26L34 26Z" fill="white"/>
                </svg>
                b Wi-Fi роутер
                p аренда 10 руб./мес.
              li
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20 35C28.2843 35 35 28.2843 35 20C35 11.7157 28.2843 5 20 5C11.7157 5 5 11.7157 5 20C5 28.2843 11.7157 35 20 35ZM20 36C28.8366 36 36 28.8366 36 20C36 11.1634 28.8366 4 20 4C11.1634 4 4 11.1634 4 20C4 28.8366 11.1634 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M27.6853 30.7137C29.715 28.0074 31 24.2228 31 20C31 15.7772 29.715 11.9926 27.6853 9.28629C25.6558 6.58029 22.9284 5 20 5C17.0716 5 14.3442 6.58029 12.3147 9.28629C10.285 11.9926 9 15.7772 9 20C9 24.2228 10.285 28.0074 12.3147 30.7137C14.3442 33.4197 17.0716 35 20 35C22.9284 35 25.6558 33.4197 27.6853 30.7137ZM20 36C26.6274 36 32 28.8366 32 20C32 11.1634 26.6274 4 20 4C13.3726 4 8 11.1634 8 20C8 28.8366 13.3726 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3063 30.9626C24.3401 28.2057 25 24.3301 25 20C25 15.6699 24.3401 11.7943 23.3063 9.03742C22.788 7.6553 22.195 6.60629 21.5872 5.92077C20.9784 5.23408 20.4397 5 20 5C19.5603 5 19.0216 5.23408 18.4128 5.92077C17.805 6.60629 17.212 7.6553 16.6937 9.03742C15.6599 11.7943 15 15.6699 15 20C15 24.3301 15.6599 28.2057 16.6937 30.9626C17.212 32.3447 17.805 33.3937 18.4128 34.0792C19.0216 34.7659 19.5603 35 20 35C20.4397 35 20.9784 34.7659 21.5872 34.0792C22.195 33.3937 22.788 32.3447 23.3063 30.9626ZM20 36C23.3137 36 26 28.8366 26 20C26 11.1634 23.3137 4 20 4C16.6863 4 14 11.1634 14 20C14 28.8366 16.6863 36 20 36Z" fill="white"/>
                  <path d="M19.5 5H20.5V35H19.5V5Z" fill="white"/>
                  <path d="M34 13L34 14L6 14L6 13L34 13Z" fill="white"/>
                  <path d="M34 26L34 27L6 27L6 26L34 26Z" fill="white"/>
                </svg>
                b Антивирус Kaspersky Internet Security на 2 устройства
                p в подарок на 1 месяц
              li
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20 35C28.2843 35 35 28.2843 35 20C35 11.7157 28.2843 5 20 5C11.7157 5 5 11.7157 5 20C5 28.2843 11.7157 35 20 35ZM20 36C28.8366 36 36 28.8366 36 20C36 11.1634 28.8366 4 20 4C11.1634 4 4 11.1634 4 20C4 28.8366 11.1634 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M27.6853 30.7137C29.715 28.0074 31 24.2228 31 20C31 15.7772 29.715 11.9926 27.6853 9.28629C25.6558 6.58029 22.9284 5 20 5C17.0716 5 14.3442 6.58029 12.3147 9.28629C10.285 11.9926 9 15.7772 9 20C9 24.2228 10.285 28.0074 12.3147 30.7137C14.3442 33.4197 17.0716 35 20 35C22.9284 35 25.6558 33.4197 27.6853 30.7137ZM20 36C26.6274 36 32 28.8366 32 20C32 11.1634 26.6274 4 20 4C13.3726 4 8 11.1634 8 20C8 28.8366 13.3726 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3063 30.9626C24.3401 28.2057 25 24.3301 25 20C25 15.6699 24.3401 11.7943 23.3063 9.03742C22.788 7.6553 22.195 6.60629 21.5872 5.92077C20.9784 5.23408 20.4397 5 20 5C19.5603 5 19.0216 5.23408 18.4128 5.92077C17.805 6.60629 17.212 7.6553 16.6937 9.03742C15.6599 11.7943 15 15.6699 15 20C15 24.3301 15.6599 28.2057 16.6937 30.9626C17.212 32.3447 17.805 33.3937 18.4128 34.0792C19.0216 34.7659 19.5603 35 20 35C20.4397 35 20.9784 34.7659 21.5872 34.0792C22.195 33.3937 22.788 32.3447 23.3063 30.9626ZM20 36C23.3137 36 26 28.8366 26 20C26 11.1634 23.3137 4 20 4C16.6863 4 14 11.1634 14 20C14 28.8366 16.6863 36 20 36Z" fill="white"/>
                  <path d="M19.5 5H20.5V35H19.5V5Z" fill="white"/>
                  <path d="M34 13L34 14L6 14L6 13L34 13Z" fill="white"/>
                  <path d="M34 26L34 27L6 27L6 26L34 26Z" fill="white"/>
                </svg>
                b Яндекс.Диск +
                p 5 Гб облачного пространства для размещения и хранения файлов
          .card__body
            .card__action Акция
            .card__price 
              .card__price-count 500
              p 
                | руб
                span
                | мес
            button(type="submit" class="Button Button-red Button-small Button-100") Подключить
            .card__info до 100 Мбит/с по технологии FTTB подключение в квартиру - 20 рублей
        .card__item
          .card__top
            .card__title Технологии доступа
            ul.card__list
              li
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20 35C28.2843 35 35 28.2843 35 20C35 11.7157 28.2843 5 20 5C11.7157 5 5 11.7157 5 20C5 28.2843 11.7157 35 20 35ZM20 36C28.8366 36 36 28.8366 36 20C36 11.1634 28.8366 4 20 4C11.1634 4 4 11.1634 4 20C4 28.8366 11.1634 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M27.6853 30.7137C29.715 28.0074 31 24.2228 31 20C31 15.7772 29.715 11.9926 27.6853 9.28629C25.6558 6.58029 22.9284 5 20 5C17.0716 5 14.3442 6.58029 12.3147 9.28629C10.285 11.9926 9 15.7772 9 20C9 24.2228 10.285 28.0074 12.3147 30.7137C14.3442 33.4197 17.0716 35 20 35C22.9284 35 25.6558 33.4197 27.6853 30.7137ZM20 36C26.6274 36 32 28.8366 32 20C32 11.1634 26.6274 4 20 4C13.3726 4 8 11.1634 8 20C8 28.8366 13.3726 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3063 30.9626C24.3401 28.2057 25 24.3301 25 20C25 15.6699 24.3401 11.7943 23.3063 9.03742C22.788 7.6553 22.195 6.60629 21.5872 5.92077C20.9784 5.23408 20.4397 5 20 5C19.5603 5 19.0216 5.23408 18.4128 5.92077C17.805 6.60629 17.212 7.6553 16.6937 9.03742C15.6599 11.7943 15 15.6699 15 20C15 24.3301 15.6599 28.2057 16.6937 30.9626C17.212 32.3447 17.805 33.3937 18.4128 34.0792C19.0216 34.7659 19.5603 35 20 35C20.4397 35 20.9784 34.7659 21.5872 34.0792C22.195 33.3937 22.788 32.3447 23.3063 30.9626ZM20 36C23.3137 36 26 28.8366 26 20C26 11.1634 23.3137 4 20 4C16.6863 4 14 11.1634 14 20C14 28.8366 16.6863 36 20 36Z" fill="white"/>
                  <path d="M19.5 5H20.5V35H19.5V5Z" fill="white"/>
                  <path d="M34 13L34 14L6 14L6 13L34 13Z" fill="white"/>
                  <path d="M34 26L34 27L6 27L6 26L34 26Z" fill="white"/>
                </svg>
                b Интернет до 150 Мбит/с
                a(href="#") 
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.1 8H2.4V13.6C2.4 14.3728 3.0272 15 3.8 15H7.3V8H3.8H3.1ZM12.2 8H8.7V15H12.2C12.9728 15 13.6 14.3728 13.6 13.6V8H12.9H12.2ZM12.7537 4.5C12.8454 4.2123 12.9 3.8672 12.9 3.45C12.9 2.099 11.801 1 10.45 1C9.3146 1 8.5565 2.0374 8.0672 3.1595C7.5849 2.099 6.7883 1 5.55 1C4.199 1 3.1 2.099 3.1 3.45C3.1 3.8672 3.1553 4.2123 3.2463 4.5H1V7.3H7.3V5.9H8H8.7V5.9637V7.3H15V4.5H12.7537ZM4.5 3.45C4.5 2.8711 4.9711 2.4 5.55 2.4C6.1716 2.4 6.7498 3.4675 7.0886 4.5H5.2C4.9382 4.5 4.5 4.5 4.5 3.45ZM10.45 2.4C11.0289 2.4 11.5 2.8711 11.5 3.45C11.5 4.5 11.0618 4.5 10.8 4.5H9.0661C9.4231 3.3968 9.9418 2.4 10.45 2.4Z"/>
                  </svg>
                  span Технология xPON
              li
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20 35C28.2843 35 35 28.2843 35 20C35 11.7157 28.2843 5 20 5C11.7157 5 5 11.7157 5 20C5 28.2843 11.7157 35 20 35ZM20 36C28.8366 36 36 28.8366 36 20C36 11.1634 28.8366 4 20 4C11.1634 4 4 11.1634 4 20C4 28.8366 11.1634 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M27.6853 30.7137C29.715 28.0074 31 24.2228 31 20C31 15.7772 29.715 11.9926 27.6853 9.28629C25.6558 6.58029 22.9284 5 20 5C17.0716 5 14.3442 6.58029 12.3147 9.28629C10.285 11.9926 9 15.7772 9 20C9 24.2228 10.285 28.0074 12.3147 30.7137C14.3442 33.4197 17.0716 35 20 35C22.9284 35 25.6558 33.4197 27.6853 30.7137ZM20 36C26.6274 36 32 28.8366 32 20C32 11.1634 26.6274 4 20 4C13.3726 4 8 11.1634 8 20C8 28.8366 13.3726 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3063 30.9626C24.3401 28.2057 25 24.3301 25 20C25 15.6699 24.3401 11.7943 23.3063 9.03742C22.788 7.6553 22.195 6.60629 21.5872 5.92077C20.9784 5.23408 20.4397 5 20 5C19.5603 5 19.0216 5.23408 18.4128 5.92077C17.805 6.60629 17.212 7.6553 16.6937 9.03742C15.6599 11.7943 15 15.6699 15 20C15 24.3301 15.6599 28.2057 16.6937 30.9626C17.212 32.3447 17.805 33.3937 18.4128 34.0792C19.0216 34.7659 19.5603 35 20 35C20.4397 35 20.9784 34.7659 21.5872 34.0792C22.195 33.3937 22.788 32.3447 23.3063 30.9626ZM20 36C23.3137 36 26 28.8366 26 20C26 11.1634 23.3137 4 20 4C16.6863 4 14 11.1634 14 20C14 28.8366 16.6863 36 20 36Z" fill="white"/>
                  <path d="M19.5 5H20.5V35H19.5V5Z" fill="white"/>
                  <path d="M34 13L34 14L6 14L6 13L34 13Z" fill="white"/>
                  <path d="M34 26L34 27L6 27L6 26L34 26Z" fill="white"/>
                </svg>
                b Wi-Fi роутер
                p аренда 10 руб./мес.
              li
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20 35C28.2843 35 35 28.2843 35 20C35 11.7157 28.2843 5 20 5C11.7157 5 5 11.7157 5 20C5 28.2843 11.7157 35 20 35ZM20 36C28.8366 36 36 28.8366 36 20C36 11.1634 28.8366 4 20 4C11.1634 4 4 11.1634 4 20C4 28.8366 11.1634 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M27.6853 30.7137C29.715 28.0074 31 24.2228 31 20C31 15.7772 29.715 11.9926 27.6853 9.28629C25.6558 6.58029 22.9284 5 20 5C17.0716 5 14.3442 6.58029 12.3147 9.28629C10.285 11.9926 9 15.7772 9 20C9 24.2228 10.285 28.0074 12.3147 30.7137C14.3442 33.4197 17.0716 35 20 35C22.9284 35 25.6558 33.4197 27.6853 30.7137ZM20 36C26.6274 36 32 28.8366 32 20C32 11.1634 26.6274 4 20 4C13.3726 4 8 11.1634 8 20C8 28.8366 13.3726 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3063 30.9626C24.3401 28.2057 25 24.3301 25 20C25 15.6699 24.3401 11.7943 23.3063 9.03742C22.788 7.6553 22.195 6.60629 21.5872 5.92077C20.9784 5.23408 20.4397 5 20 5C19.5603 5 19.0216 5.23408 18.4128 5.92077C17.805 6.60629 17.212 7.6553 16.6937 9.03742C15.6599 11.7943 15 15.6699 15 20C15 24.3301 15.6599 28.2057 16.6937 30.9626C17.212 32.3447 17.805 33.3937 18.4128 34.0792C19.0216 34.7659 19.5603 35 20 35C20.4397 35 20.9784 34.7659 21.5872 34.0792C22.195 33.3937 22.788 32.3447 23.3063 30.9626ZM20 36C23.3137 36 26 28.8366 26 20C26 11.1634 23.3137 4 20 4C16.6863 4 14 11.1634 14 20C14 28.8366 16.6863 36 20 36Z" fill="white"/>
                  <path d="M19.5 5H20.5V35H19.5V5Z" fill="white"/>
                  <path d="M34 13L34 14L6 14L6 13L34 13Z" fill="white"/>
                  <path d="M34 26L34 27L6 27L6 26L34 26Z" fill="white"/>
                </svg>
                b Антивирус Kaspersky Internet Security на 2 устройства
                p в подарок на 1 месяц
              li
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20 35C28.2843 35 35 28.2843 35 20C35 11.7157 28.2843 5 20 5C11.7157 5 5 11.7157 5 20C5 28.2843 11.7157 35 20 35ZM20 36C28.8366 36 36 28.8366 36 20C36 11.1634 28.8366 4 20 4C11.1634 4 4 11.1634 4 20C4 28.8366 11.1634 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M27.6853 30.7137C29.715 28.0074 31 24.2228 31 20C31 15.7772 29.715 11.9926 27.6853 9.28629C25.6558 6.58029 22.9284 5 20 5C17.0716 5 14.3442 6.58029 12.3147 9.28629C10.285 11.9926 9 15.7772 9 20C9 24.2228 10.285 28.0074 12.3147 30.7137C14.3442 33.4197 17.0716 35 20 35C22.9284 35 25.6558 33.4197 27.6853 30.7137ZM20 36C26.6274 36 32 28.8366 32 20C32 11.1634 26.6274 4 20 4C13.3726 4 8 11.1634 8 20C8 28.8366 13.3726 36 20 36Z" fill="white"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3063 30.9626C24.3401 28.2057 25 24.3301 25 20C25 15.6699 24.3401 11.7943 23.3063 9.03742C22.788 7.6553 22.195 6.60629 21.5872 5.92077C20.9784 5.23408 20.4397 5 20 5C19.5603 5 19.0216 5.23408 18.4128 5.92077C17.805 6.60629 17.212 7.6553 16.6937 9.03742C15.6599 11.7943 15 15.6699 15 20C15 24.3301 15.6599 28.2057 16.6937 30.9626C17.212 32.3447 17.805 33.3937 18.4128 34.0792C19.0216 34.7659 19.5603 35 20 35C20.4397 35 20.9784 34.7659 21.5872 34.0792C22.195 33.3937 22.788 32.3447 23.3063 30.9626ZM20 36C23.3137 36 26 28.8366 26 20C26 11.1634 23.3137 4 20 4C16.6863 4 14 11.1634 14 20C14 28.8366 16.6863 36 20 36Z" fill="white"/>
                  <path d="M19.5 5H20.5V35H19.5V5Z" fill="white"/>
                  <path d="M34 13L34 14L6 14L6 13L34 13Z" fill="white"/>
                  <path d="M34 26L34 27L6 27L6 26L34 26Z" fill="white"/>
                </svg>
                b Яндекс.Диск +
                p 5 Гб облачного пространства для размещения и хранения файлов
          .card__body
            .card__action Акция
            .card__price 
              .card__price-count 500
              p 
                | руб
                span
                | мес
            button(type="submit" class="Button Button-red Button-small Button-100") Подключить
            .card__info до 100 Мбит/с по технологии FTTB подключение в квартиру - 20 рублей
              