.s-team.section-32
  .container-main
    .team
      .offers__list
        .offers__item.offers--reverse
          .offers__col
            .offers__rate Тариф игровой
            .offers__text Присоединяйся к команде победителей
            .offers__descr Высокоскоростной интернет и уникальные игровые бонусы
            button(type="button" class="Button Button-red") Оставить заявку
          .offers__col
            picture
              source(srcset="img/banners/team-phone.png" media="(max-width: 414px)")
              source(srcset="img/banners/team-tablet.png" media="(max-width: 768px)")
              source(srcset="img/banners/team-ipad.png" media="(max-width: 1100px)")
              img(src="img/banners/team-laptop.png" alt="Тариф игровой")