.s-transformer.section-32
  .container-main
    .transformer
      .offers__list
        .offers__item.offers--reverse
          .offers__col
            .offers__text 
              | Трансформер. 
              br
              | Не платите за лишнее
            ul.offers__options
              li 
                <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.62092 0L0 5.68698L4.75618 10.499L0 15.3131L5.62092 21L16 10.499L5.62092 0Z" fill="#FF4F12"/>
                </svg>

                | Собирайте индивидуальную подписку по своим интересам
              li 
                <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.62092 0L0 5.68698L4.75618 10.499L0 15.3131L5.62092 21L16 10.499L5.62092 0Z" fill="#FF4F12"/>
                </svg>

                | Выбирайте и меняйте пакеты фильмов, сериалов и ТВ-каналов каждый месяц
              li 
                <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.62092 0L0 5.68698L4.75618 10.499L0 15.3131L5.62092 21L16 10.499L5.62092 0Z" fill="#FF4F12"/>
                </svg>

                | Управляй просмотром: пауза, перемотка, запись
              li 
                <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.62092 0L0 5.68698L4.75618 10.499L0 15.3131L5.62092 21L16 10.499L5.62092 0Z" fill="#FF4F12"/>
                </svg>

                | Фильмы и сериалы в подарок
            button(type="button" class="Button Button-red") Оставить заявку
          .offers__col
            picture
              source(srcset="img/banners/t-phone.png" media="(max-width: 640px)")
              source(srcset="img/banners/t-tablet.png" media="(max-width: 1100px)")
              img(src="img/banners/t-laptop.png" alt="Трансформер")
          
          