section.s-wink.section-32
  .container-main
    h2.mb-56 Wink — умный развлекательный видеосервис
    .wink
      .wink__item
        .wink__title Онлайн-кинотеатр и ТВ-каналы в одном видеосервисе
        .wink__text 60 000 фильмов и сериалов и до 400 ТВ-каналов
        .wink__img 
          img(src="img/videoservice/1.svg" alt="Онлайн-кинотеатр и ТВ-каналы в одном видеосервисе")
      .wink__item
        .wink__title Просмотр на любом устройстве
        .wink__text Одна учетная запись на 5 устройств: начните просмотр на одном устройстве и продолжите на другом
        .wink__img 
          img(src="img/videoservice/2.svg" alt="Просмотр на любом устройстве")
      .wink__item
        .wink__title Загрузка и просмотр кино без доступа к интернету
        .wink__text Загрузка на мобильные устройства и просмотр без интернета: на даче, в дороге, в самолете, в отпуске
        .wink__img 
          img(src="img/videoservice/3.svg" alt="Загрузка и просмотр кино без доступа к интернету")
      .wink__item
        .wink__title Система рекомендаций
        .wink__text Персональные рекомендации на основе вашей истории просмотров
        .wink__img 
          img(src="img/videoservice/4.svg" alt="Система рекомендаций")
      .wink__item
        .wink__title Голосовое управление
        .wink__text Управление без пульта: включение и поиск телеканалов и фильмов, управление громкостью
        .wink__img 
          img(src="img/videoservice/5.svg" alt="Голосовое управление")
      .wink__item
        .wink__title Аудиокниги
        .wink__text В Wink можно не только смотреть кино и ТВ, но и слушать аудиокниги
        .wink__img 
          img(src="img/videoservice/6.svg" alt="Аудиокниги")